
run = ["npm", "run", "dev"]
hidden = [".config", "package-lock.json"]
compile = ["npm", "run", "build"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "run", "preview"]
build = ["npm", "run", "build"]
deploymentTarget = "cloudflare-pages"

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[languages.css]
pattern = "**/{*.less,*.scss,*.css}"

[languages.css.languageServer]
start = "css-language-server --stdio"
